body{
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    font-size: 18pt;
    color: blueviolet;
    background-color: rgb(148, 175, 243);
}